# 환경 설정
.env
.env.local
# Python 캐시 파일
**/__pycache__/
*.py[cod]
*$py.class
# 가상 환경
venv/
env/
.venv/
**/pyvenv.cfg

# 모든 .log 파일 제외
*.log 
# 모든 .tmp 파일 제외
*.tmp 

0.FrontEnd/dogwalk_frontend/.python-version
0.FrontEnd/Lib/
0.FrontEnd/Scripts/
0.FrontEnd/etc/
0.FrontEnd/share/jupyter/nbextensions/pydeck/

1.BackEnd/dogwalk_backend/Lib/
1.BackEnd/dogwalk_backend/Scripts/
1.BackEnd/dogwalk_backend/.vscode/

# Secrets 파일 제외
.streamlit/secrets.toml
secrets.toml

#C파일 제외
*.c
*.h

#sql 파일 제외
*.sqlite3

#기타 파일 제외
*.bin
*.1
*.zip
*.pickle
